.post-nav {
    /* Insert your custom styling here. Example:
       font-size: 14px;
       margin-bottom: 1em;
    */
    margin-bottom: 30px;
    display: flex;
}
.post-nav div {
    /* flex-grow, flex-shrink, flex-basis */
    flex: 1 1 0;
}
.post-nav-next {
    text-align: right;
}

.tags-sections {
    margin-bottom: 30px;
}

.svg-icon {
    vertical-align: sub;
    padding-right: 2px;
}

a:visited {
    color: #2a7ae2;
}
